.menubar{
    display: flex;
    justify-content: start;
    color: black;
    background-color :#1a8bd6 ;
    
    height: auto;
    align-items:center;
    h1{
        font-size: 1.5rem;
    }
}


.MAIN{
    display: flex;
    div{
        background-color: #1a8bd6 ;
    }
}