@import "./Utilities.scss";
$border:1px solid rgb(168, 164, 164);

.MAINCONTETN{
@include FLEXBOX(column,center,space-between);

background-color: white;

}

.UPERSIDE_OF_CONTETN{
    @include FLEXBOX(row,space-between,start);
  
    width:100%;


};

.LEFTSIDE{
@include WIDTHOFBOX(20%);
display: flex;
flex-direction: column;
align-content: flex-start;

padding: 0px 1rem 0px 0rem;
}

.CENTER{
  @include WIDTHOFBOX(60%);
  
}

.RIGHTSIDE{

 @include WIDTHOFBOX(20%);
 
 display: flex;
flex-direction: column;
align-content: flex-start;

padding: 0px 0rem 0px 1rem;
}


/* LOWESIDE OF CONETNT  */


.LOWER_SIDE_OF_CONTENT{
    @include FLEXBOX(row,space-between,start);
    width:"100%";
   
}


.MAINPAPER  {
 @include FLEXBOX(column,center,space-between);
box-shadow: 0 0 5px rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
border: $border;
padding-bottom: 2rem;
}

.UPERCONTENT{
@extend .p-1;
   width: auto;
   display: flex;
border-bottom: $border;
   
};



