 h1, h2, h3 {
      margin: 0;
    }
    h2 {
      & + h3 {
        margin-top: 5rem;
      }
    }


.animation{
width: 50px;
height: 50px;
position: relative;
animation:animation;
animation-duration: 5s;
animation-delay: 2s;
animation-timing-function: ease-out;
 transition: left 0.4s ease-in-out;
background-color: yellow;
animation-direction: alternate;
animation-iteration-count: infinite;
&:hover {
    @keyframes animation {
from{ top:0px;left :0px}
to{ top: 0px; left:200px}
}
}

}
$border:1px solid black;
.Button{
 width: 8rem;
  margin-left: auto;
margin-right: auto;
}



button{
   outline: none;
  border-style: none;
    width:8rem;
    height:2rem;
    background-color: blue;
    color:white;
    type:active;




    &:hover{
        background-color: blueviolet;
       
    }

&:active{
    color: #000;
}
    
}